<h1><%= @team_name %></h1>
<h2>Team Motto: <%= @team_motto %></h2>

<% @team_members.each.with_index do |hero, index| %>
  <h2>Hero Name: <%= @names[index] %></h2>
  <p>
    Hero power: <%= @powers[index] %>
    <br>
    Hero biography: <%= @bios[index] %>
  </p>
<% end %>



